body {
	background-image: url("images/party.jpg");

}

.jumbotron {
	background: url('images/brillant.png');
}


h1 {
	text-align: center;
	font-family: arial, times;
}

h2 {
	font-size: arial, times;
}

button {
	font-family: arial, times;

}

#subwrapper {
	text-align: center;

}
